<link rel="stylesheet" type="text/css" href="/public/style/centerInput.css"/>


<div class="info-body" id="info-body">
    <div class="portlet light bordered form-fit" style="width: 100%;padding:10px 30px;">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">  新建企业</span>
            </div>
        </div>

        <div id="center-input" class="portlet-body form">
            <div class="form-body">
                <div class="line">
                    <img src="../../public/images/required_icon.png" alt=""/>
                    <label>名 称</label>
                    <div class="value">
                        <input type="text" id="companyName" class="width5" placeholder="输入企业名称">
                    </div>
                    <div class="hint">
                    </div>
                </div>

                <div class="line">
                    <img src="../../public/images/required_icon.png" alt=""/>
                    <label>地 址</label>
                    <div class="value">
                        <input type="text" id="companyAddress" class="width5" placeholder="输入企业地址">
                    </div>
                    <div class="hint">
                    </div>
                </div>

                <div class="form-group">
                    <label>logo</label>
                    <img width="100px" height="100px" src=""
                         onerror="this.src='/public/images/upload-img.jpg'" onclick="uploadLogo()"
                         id="companyLogo"/>
                    <div id="logo-tips">
                        <div id="logo-tips-text">提示:图片小于2M,120px X 120px</div>
                        <div id="logo-hit"></div>
                    </div>
                    <!--accept="image/jpg"-->
                    <input type="file" style="display: none" id="logoFile" onchange="fileSelcetd()">
                </div>

                <div class="line">
                    <img src="../../public/images/required_icon.png" alt=""/>
                    <label>电话</label>
                    <input id="companyTel" class="width5" type="text"
                           placeholder="请输入企业电话"/>
                </div>
                <div class="form-group">
                    <img src="../../public/images/required_icon.png" alt=""/>
                    <label>邮箱</label>
                    <input id="companyEmail" class="width5" type="text"
                           placeholder="请输入企业邮箱"/>
                </div>
                <div class="form-group">
                    <label>联系人</label>
                    <input id="companyAdress" class="width5" type="text"
                           placeholder="请输入企业地址"/>
                </div>

                <div class="line">
                    <label>公众号</label>
                    <input id="companyAccounts" class="width5" type="text"
                           placeholder="请输入企业公众号"/>

                </div>

                <div class="form-group">
                    <label>企业简介</label>
                                <textarea id="companySummary" class="width5" rows="3"
                                          placeholder="请输入企业简介"></textarea>
                </div>


                <div class="form-actions">
                    <button onclick="savaCompanyInfo()" class="btn btn-danger" type="button"
                            style="font-size: 16px;padding: 5px 30px;margin-left: 50px;margin-right: 30px">保存
                    </button>
                    <button type="button" class="btn default " onclick="cancelEditCompanyInfo()"
                            style="font-size: 16px;padding: 5px 30px;">取消
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>
</div>


