<div class="clientInfo">
    <div class="info-body" id="info-body">
        <div class="row ">

            <a href="#!nav/newCompany" class="btn green body-right-button" id="newCompany">
                <i class="fa fa-plus "></i> 新建企业
            </a>


            <div class="col-md-9"></div>
            <div class="col-md-3"></div>
        </div>

        <table class="common-table table table-striped table-hover" id="companyListTable">
            <thead>

            <tr>
                <th>名称</th>

                <th>联系人</th>
                <th>电话</th>
                <th>邮箱</th>

                <th>地址</th>
                <th>创建日期</th>
                <th id="option" style="padding-left: 25px">操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <td colspan="11" id="tfoot">
                    <span class="prev-page-btn" id="prev-page-btn"></span>
                    <span class="" id="pageList">1/1</span>
                    <span class="next-page-btn" id="next-page-btn"></span>
                </td>
            </tr>
            </tfoot>

        </table>

    </div>


</div>


<!--<script src="/public/js/offerManagement/offerList.js"></script>-->
<!--<script>-->
<!--setData()-->
<!--</script>-->