<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/public/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="/public/style/login.css"/>
</head>
<body>


<div class="main" id="box">
    <!--<div class="login-panel" >-->
    <div style="text-align: center;margin-top: 150px">
        <img src="/public/images/login-logo.png" style="display: block;margin: auto;width: 300px;height: 150px;"/>
        <div class="input-group">
            <div class="input-div">
                <input type="text" placeholder="请输入登录邮箱" name="email" id="email" class="input-hint" maxlength="100"
                       value="guoyong.shi@zhenhr.com"/>
                <p class="hint hint-email"></p>
            </div>
            <div class="input-div">
                <input type="password" placeholder="请输入密码" name="email" id="pwd" class="input-hint" value="123456"/>
                <p class="hint hint-pwd"></p>
            </div>
            <div class="input-div1">
                <div style="position: absolute;left: 5px;">
                </div>
            </div>
            <div id="login-btn" class="button1">登 录</div>
        </div>
    </div>
</div>

<script src="/public/libs/particles.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/libs/background.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/libs/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/libs/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/libs/iOSOverlayghpages/js/iosOverlay.js" type="text/javascript" charset="utf-8"></script>

<script src="/public/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/login.js" type="text/javascript" charset="utf-8"></script>


</body>

</html>
