<div class="menu">

    <a href="/companyManagement">
        <div class="model-nav">
            <span class="model-text">企业管理</span>
            <span id="offer-icon"></span>
        </div>
    </a>

    <a href="/postionManagement">
        <div class="model-nav">
            <span class="model-text">职位管理</span>
            <span id="offer-icon"></span>
        </div>
    </a>

    <a href="/userManagement">
        <div class="model-nav">
            <span class="model-text">用户管理</span>
            <span id="entry-icon"></span>
        </div>
    </a>

    <div class="navBorder">
    </div>


    <a href="/companyReview">
        <div class="model-nav">
            <span class="model-text">企业审核</span>
            <span id="offer-icon"></span>
        </div>
    </a>

    <div class="navBorder">
    </div>

    <a href="/account">
        <div class="model-nav" id="model-nav">
            <span class="model-text">账号管理</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>

</div>



