<div class="menu">

    <a href="/mywork">
        <div class="model-nav">
            <span class="model-text">我的主页</span>
            <span id="staff-icon"></span>
        </div>
    </a>
    <a href="/report">
        <div class="model-nav model-nav-bottom">
            <span class="model-text">企业报告</span>
            <span id="teamevaluation-icon"></span>
        </div>

    </a>

    <!--<a href="">-->
    <!--<div class="model-nav">-->
    <!--<span class="model-text">我的统计</span>-->
    <!--<span id="salary-icon"></span>-->
    <!--</div>-->
    <!--</a>-->
    <div class="navBorder"></div>

    <a href="/salesManagement">
        <div class="model-nav">
            <span class="model-text">销售管理</span>
            <span id="offer-icon"></span>
        </div>
    </a>
    <a href="/reviewManagement">
        <div class="model-nav">
            <span class="model-text">审批管理</span>
            <span id="entry-icon"></span>
        </div>
    </a>

    <a href="/projectManagement">
        <div class="model-nav">
            <span class="model-text">项目管理</span>
            <span id="offer-icon"></span>
        </div>
    </a>

    <div class="navBorder">
    </div>

    <a href="/staffManagement">
        <div class="model-nav">
            <span class="model-text">员工管理</span>
            <span id="company-icon"></span>
        </div>
    </a>
    <a href="/offerManagement">
        <div class="model-nav">
            <span class="model-text">员工入职</span>
            <span id="company-icon"></span>
        </div>
    </a>

    <a href="/payroll">
        <div class="model-nav">
            <span class="model-text">工资计算</span>
            <span id="analysisreport-icon"></span>
        </div>
    </a>

    <a href="/historyPay">
        <div class="model-nav model-nav-bottom">
            <span class="model-text">历史工资</span>
            <span id="teamevaluation-icon"></span>
        </div>

    </a>


    <div class="navBorder"></div>

    <a href="/system/messagesIndex">
        <div class="model-nav model-nav-bottom">
            <span class="model-text">消息推送</span>
            <span id="teamevaluation-icon"></span>
        </div>

    </a>

    <a href="/system/registerCompanyIndex">
        <div class="model-nav">
            <span class="model-text">注册企业</span>
            <span id="template-icon"></span>
        </div>
    </a>

    <a href="/system/ordersIndex">
        <div class="model-nav" id="model-nav">
            <span class="model-text">订单管理</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>
    <a href="/system/templateIndex">
        <div class="model-nav" id="model-nav">
            <span class="model-text">系统模版</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>

    <div class="navBorder"></div>
    <a href="/account">
        <div class="model-nav" id="model-nav">
            <span class="model-text">账号管理</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>

    <a href="/menuRuleManagement/menuManagement">
        <div class="model-nav" id="model-nav">
            <span class="model-text">功能管理</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>

    <a href="/menuRuleManagement/roleManagement">
        <div class="model-nav" id="model-nav">
            <span class="model-text">角色管理</span>
            <span id="taskcenter-icon"></span>
        </div>
    </a>
</div>



